#gallery_container2 {
 position:relative;
 top:0px;
 width:300px;
 height:213px;
 background:transparent;
 padding:40px 0px 0px;
 display:block;
}
 
#gallery_container2 .addfwd {
 display:block;
 position:absolute;
 cursor:pointer;
 width:25px;
 height:252px;
 top:0px;
 right:0px;
 background:url(images/gallery/gallery_fwd2.png) no-repeat center;
}
 
#gallery_container2 .addbkwd {
 display:block;
 position:absolute;
 cursor:pointer;
 width:25px;
 height:252px;
 top:0px;
 left:0px;
 background:url(images/gallery/gallery_prev2.png) no-repeat center;
}
 
#thumb_container2{
 position:relative;
 top:-27px;
 overflow:hidden;
 width:442px;
 height:252px;
 margin:0px auto 0px;
}

#thumbs2 {
 display:block;
 position:relative;
 width:6000px;
}
 
#thumbs2 div.thumbnail {
 display:block;
 position:relative;
 float:left;
 margin-right:30px;
 font-size:14px;
 color: #ddd;
 width:100%;
 max-width:190px;
 text-align:center;
 background:url(images/transparent_bg.png) repeat;
}
 
#thumbs2 a {
 padding:0px;
 margin:0px;
 clear:both;
 display:block;
}

#thumbs2 a img{
 border:1px #333333 solid;
}
 
.addfwd {
 display:block;
 position:absolute;
 cursor:pointer;
 width:25px;
 height:212px;
 top:0px;
 right:0px;
 background:url(images/gallery/gallery_fwd2.png) no-repeat;
}

.addbkwd {
 display:block;
 position:absolute;
 cursor:pointer;
 width:25px;
 height:212px;
 top:0px;
 left:0px;
 background:url(images/gallery/gallery_prev2.png) no-repeat;
}

.phtitle {
 display:block;
 height:45px;
 max-height:45px;
}

.catprev {
  position:inline;
  height:auto;
  float:left;
  text-align: left;
  margin: auto auto;
}

.catprev li {
	display: inline;
	text-align:left;
	height: 35px;
	padding-left:15px;
	line-height: 24px;
}

ul.catprev,.catprev li {
  margin: 0;
  padding: 0;
}

.category {
	width:auto;
	height:150px;
	background:url(images/transparent_bg.png) repeat;
}