<html>
<head>
    <title>IE Fix by GreeveX ^^</title> 
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="js/mootools-1.2.js"></script>
	<!--[if IE]>
	<link rel="stylesheet" type="text/css" media="screen" href="css/slide.css" />
	<script type="text/javascript" src="js/slide.js"></script>
	<![endif]--> 
</head>
<body>
<div id="allcontent">
<pre>
Здесь контент страницы...
фыва
фыва
фывафы
афыва


а в саамом низу, перед конечным блоком закрытия body ...
</pre>
</div>
<!--[if IE]>
<div id="vertical_slide"><span id="attention">Настоятельно рекомендуется сменить Ваш обозреватель на один из следующих: <a target="_blank" href="http://mozilla.ru">Mozilla Firefox</a>, <a target="_blank" href="http://opera.com">Opera</a>, <a target="_blank" href="http://chrome.google.com">Google Chrome</a>.</span><span id="closetip"></span></div>
<![endif]--> 
</body>
</html>