#vertical_slide,.vertical_slide {
	position:fixed;
	top:0px;
	width:100%;
	left:0px;
	min-height:25px;
	font-size:13px;
	background-color: #ffffe1;
	background-image:url(../images/tooltip.png);
	background-repeat: no-repeat;
	background-position: 5px 4px;
	border-bottom:1px solid #a7a6aa;
	border-right:2px solid #a7a6aa;
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	color: #000000;
}

#vertical_slide:hover,.vertical_slide:hover {
	background-color: #3399FF;
	color: #ffffff;
}

#vertical_slide:hover a,.vertical_slide:hover a {
	color: #fff;
}

html>/**/body  #footer [attr|=a-b] {
	display:none;
	bottom:50px;
} 

#attention,.attention {
	position:relative;
	top:4px;
	left:25px;
}

#closetip {
	background-image:url(../images/close_0.png);
	position:absolute;
	right:8px;
	top:8px;
	width:8px;
	height:8px;
}
#closetip:hover {
	background-image:url(../images/close_1.png);
}

#footer{left:0px;}