/* reset */
form, table, tbody, tfoot, thead, tr, th, td {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  margin: 0;
}

fieldset, form, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

form {
  margin: 0;
  padding: 0;
  border: 0;
}

h1{
	color: #fff;
	font-size: 47px;
	font-weight: bolder;
	margin: 0 40px;
	padding: 0.08em 0;
}

h1 sup{color: #fff;}

h1 a{color: #fff;text-decoration: none;}

h1 .company, h1 a .company{color: #d01a71;}

h2{color: #fff;font-size: 2.5em;}

h3{color: #fff;font-size: 1.5em;}

h4{font-size: 1.3em;}

* html #wrapper {
  height: 100%;
}

* html #nonFooter {
  padding: 0;
  height: 100%;
  
}

body {
	font-family: "Trebuchet MS", "Lucida Grande", Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 0;
	height:100%;
	width:100%;
	background-color: #000;
}


ul {
  list-style: none;
}

img {
  border: 0;
}

a,a:visited {
  color: #d04410;
}

a:hover {
  color: #b02410
}

#allcontent {
	margin: 5%;
	margin-top: 10px;
	width: 90%;
}

#siteTitle {
  float: left;
  top: 10px;
  left: 10px;
  display: block;
  position:relative;
  color: #fff;
  font-size:30px;
}

/* middle block */

#middleline {}

#content, .leftmain {
  width: 80%;
  float:right;
  background-color: #555;
}

 
/* header */

#header {
	width:100%;
	height:60px;
	background: #f00;
}

/* новости */

#news {
	left:0px;
	top: 234px;
	width:200px;
	height:auto;
	border-left: 1px solid white;
	border-bottom: 2px solid white;
	border-right: 3px solid white;
}

/* меню */

#navMenu {
	position:relative;
	float:left;
	width:20%;
	background-color: #ff0;
}

#navMenu a {
  color: #000;
  text-decoration: none;
}

#navMenu a:hover {
  text-decoration: underline;
}

#navMenu ul,#navMenu li {
  margin: 0;
  padding: 0;
}

#navMenu ul {
  position:relative;
  margin: auto auto;
  float: left;
}

#navMenu li {
  padding-left:10px;
  text-align:left;
  margin-left:1px;
}

#navMenu li.activeNavElement {
  height: 31px;
  margin: 0;
  margin-top: 0px;
}

#navMenu li.activeNavElement a {
  height: 31px;
  color: #fff;
  padding-top: 0px;
  margin: 0;
}

/* footer and copyright */

#footer {
  position:fixed;
  width:100%;
  height:20px;
  bottom:0px;
  font-size:12px;
  background-color:#fff;
}

#footer a{color:#000;}

#legal1 {
  position:relative;
  bottom:10px;
  float:left;
}

#legal2 {
  position:relative;
  right:3px;
  bottom:10px;
  float:right;
}

/* main content */

#col2 {
  position:relative;
  left:10px;
}

/* google chrome fix */

#footer:not([attr*=""]) { 
	left:0px;
}

/* mzz */

.sideBlock{display:none;}

.clear{height:10px;}

/* IE fix */

#vertical_slide{display:none;}
